.contenedorBusqueda {
  display: flex;
  justify-content: center;
}

.cajaBusqueda {
  position: relative;
}

.inputBuscar {
  width: 300px;
  height: 35px;
  border: solid 1px grey;
  background-color: black;
  color: gray;
  /* border-radius: 10px; */
  padding: 5px 50px 5px 10px;
  font-size: 1.5rem;
}

.botonBuscar {
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  cursor: pointer;
  color: gray;
  border: none;
  background: none;
}

.inputBuscar:focus {
  outline: none;
  border: solid 1px rgb(11, 153, 30);
  box-shadow: 1px 1px 5px rgb(22, 230, 143);
}
